body
{
  background-color: #A2DBFA;
  color: #053742;
}
hr
{
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  width:5%;
}
img
{
  border-radius: 75%;
  height: auto;
}
