h1 {
  font-size: 500%;
  margin: 0;
}
a{
  font-size: 200%;
  margin-left: 35%;
}
h2 {
  color: #053742;
  font-size: 250%;
  margin: 0;
}
.h3{
  margin-left: 40%;
}
p {
  width: 48%;
  font-size: 150%;
}
div {
  background-image: url(https://st2.depositphotos.com/6504442/9283/i/950/depositphotos_92834640-stock-photo-raster-abstract-light-pink-yellow.jpg);
  margin-left: 0;
  background-size: 100%;
  margin-right: 0;
  margin-top: 0;
  background-color: #FFEEDB;

}
table{
  font-size: 150%;
  width: 35%;
  margin-left: 35%;
}
.image2 {
  background-image: url(http://sfwallpaper.com/images/cotton-candy-wallpaper-9.jpg);
  margin: 0;
  background-size: 100%;
  background-color: #FFEEDB;
}
.progimage{
  height: 25%;
  width: 25%;
  border-radius: 50%;
}
.progimage2{
  height: 25%;
  width: 25%;
  border-radius: 50%;
}
.Achievements{
  background-image: url(https://wallpaperscave.com/images/thumbs/wp-preview/800x500/18/09-12/artistic-nature-83554.jpg);
  background-color: #FFEEDB;
  background-size: 100%;
}
.rushil{
  font-style: italic;
}
.image {
  background-image: url(https://www.teahub.io/photos/full/125-1253801_website-background.png);
  background-size: 100%;
}
.button{
  background-color: black;
  color: white;
}
body
{
  background-color: #FFEEDB;
  color: #053742;
  margin: 0;
  width: 100%;
}
hr
{
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  width:5%;
}
img
{
  height: 400px;
  border-radius: 75%;
}
